@mixin mixin-iterator(
    $map, 
    $name, 
    $isMedia: $var-scrjk-value-false, 
    $isKeyRemove: $var-scrjk-value-false, 
    $before: "", 
    $after: ""
) {
    @if $map != $var-scrjk-txt-null {
        @each $key-a, $value-a in $map{
            @if $isKeyRemove {
                $key-a: remove($key-a, $var-scrjk-value-index-key);
            }
            .#{$before}#{$name}#{$after}-#{$key-a}{
                @include mixin-iterator-tag($value-a);
            }
        }
        @if $isMedia {
            @each $key-media, $value-media in $var-scrjk-value-media{
                @media screen and (#{$var-scrjk-txt-media}: #{nth($value-media, 1)}) {
                    @each $key-a, $value-a in $map{
                        @if $isKeyRemove {
                            $key-a: remove($key-a, $var-scrjk-value-index-key);
                        }
                        .#{$before}#{$name}-#{$key-media}#{$after}-#{$key-a}{
                            @include mixin-iterator-tag($value-a);
                        }
                    }
                }
            }
        }
    }
}

@mixin mixin-iterator-tag($map: ()) {
    @if $map != $var-scrjk-txt-null {
        @each $key-a, $value-a in $map { 
            $auxTag: "";
            $auxValue: "";
            $i: 0;
            @each $value-b in $value-a { 
                @if $i == 0 {
                    $auxTag: #{$value-b};
                }@else{
                    $auxValue: "#{$auxValue}#{$value-b}";
                } 
                $i: $i +1;
            }
            #{$auxTag}: #{$auxValue} #{$var-scrjk-txt-important};
        }
    }
}


@mixin mixin-iterator-root-background(
    $iterator: (),
    $isRemove: $var-scrjk-value-false,
    $nameBefore: "",
    $nameCenter: "",
    $nameAfter: "",
    $mode: $var-scrjk-txt-mode-light
) {
    @each $key, $value in $iterator {
        $color: getColorType($value, getMap($value, ($mode, value)), $mode);
        @if $isRemove == $var-scrjk-value-true {
            $key: remove($key, $var-scrjk-value-index-key);
        }
        #{$var-scrjk-txt-var}#{$nameBefore}background-#{$nameCenter}#{$key}#{$nameAfter}: #{$color};
        #{$var-scrjk-txt-var}#{$nameBefore}color-#{$nameCenter}#{$key}#{$nameAfter}:      #{getColor($color, $mode)};
    }
}

@mixin mixin-iterator-direction(
    $name:  ("m", "", ""),
    $tag:   ("margin", "", ""),
    $value: (""),
    $is:    ($var-scrjk-value-false),
    $option: (
        $var-scrjk-txt-null,
        "normal",
        $var-scrjk-txt-important
    ),
    $direction: getMap($var-scrjk-json-entry-scrjk, (direction))
){
    $other: "";
    @if nth($is, 1) {
        $lengthName: length($name);   
        @if $lengthName >= 4 {
            $other: nth($name, 4);
        }
    }
    @each $key-b, $value-b in $direction{
        .#{nth($name, 1)}#{removeText($key-b, nth($option, 1), nth($option, 2), $var-scrjk-value-false)}-#{nth($name, 2)}#{$other}#{nth($name, 3)}{
            @if is($key-b, nth($option, 2)) == $var-scrjk-value-true{
                $s1:    "#{nth($tag, 1)}#{nth($tag, 2)}";
                #{$s1}:  nth($value, 1) #{nth($option, 3)};
            }@else{
                @each $key-c, $value-c in $value-b{ 
                    @if is(#{$value-c}) == $var-scrjk-value-false {
                        $s1:   "#{nth($tag, 1)}-#{$value-c}#{nth($tag, 2)}";
                        #{$s1}: nth($value, 1) #{nth($option, 3)};
                    }
                }
            }
        }
    }
}

@mixin mixin-iterator-root(
    $iterator: (), 
    $tag: "font-size", 
    $isRemove: false,
    $character: $var-scrjk-txt-character-1
) {
    @if $tag != $var-scrjk-txt-null {
        $tag: $tag + $character;
        @each $key, $value in $iterator {
            @if $isRemove ==  $var-scrjk-value-true{
                $key: remove($key, $var-scrjk-value-index-key);
            }
            #{$var-scrjk-txt-var}#{$tag}#{$key}: #{nth($value, 1)};
        }
    } 
}