$map: getMap($var-scrjk-json-color, default);
@each $key-a, $value-a in $map{
    $key-a: remove($key-a, 2);
    $color: var(#{$var-scrjk-txt-var}background-#{$key-a});
    @include mixin-iterator-direction(
        ("b", "c-", $key-a), 
        ("border", "-color"), 
        ($color)
    );
}

$map-alert: getMap($var-scrjk-json-color, alert);
@each $key-a, $value-a in $map-alert{
    $color: var(#{$var-scrjk-txt-var}background-#{$key-a});
    @include mixin-iterator-direction(
        ("b", "c-", $key-a), 
        ("border", "-color"), 
        ($color)
    );
}

$map-palette: getMap($var-scrjk-json-color, palette);
@each $key-a, $value-a in $map-palette{
    $key-a: remove($key-a, 2);
    $color: var(#{$var-scrjk-txt-var}background-#{$key-a});
    @include mixin-iterator-direction(
        ("b", "c-palette-", $key-a), 
        ("border", "-color"), 
        ($color)
    );
}

@each $key-media, $value-media in $var-scrjk-value-media{
    @media screen and (#{$var-scrjk-txt-media}: #{nth($value-media, 1)}) {
        @each $key-a, $value-a in $map{
            $key-a: remove($key-a, 2);
            $color: var(#{$var-scrjk-txt-var}background-#{$key-a});
            @include mixin-iterator-direction(
                ("b", "#{$key-media}-c-", $key-a), 
                ("border", "-color"), 
                ($color)
            );
        }

        @each $key-a, $value-a in $map-alert{
            $color: var(#{$var-scrjk-txt-var}background-#{$key-a});
            @include mixin-iterator-direction(
                ("b", "#{$key-media}-c-", $key-a), 
                ("border", "-color"), 
                ($color)
            );
        }

        @each $key-a, $value-a in $map-palette{
            $key-a: remove($key-a, 2);
            $color: var(#{$var-scrjk-txt-var}background-#{$key-a});
            @include mixin-iterator-direction(
                ("b", "#{$key-media}-c-palette-", $key-a), 
                ("border", "-color"), 
                ($color)
            );
        }
    }
}
