$map:  getMap($var-scrjk-json-entry-init, (text, all, family, iterator));
@each $key-a, $value-a in $map {
    $key-a: #{remove($key-a, $var-scrjk-value-index-key)};
    .txt-ff-#{$key-a}{
        font-family: var(#{$var-scrjk-txt-var}font-family-#{$key-a}) #{$var-scrjk-txt-important};
    }
}

@each $key-media, $value-media in $var-scrjk-value-media{
    @media screen and (#{$var-scrjk-txt-media}: #{nth($value-media, 1)}) {
        @each $key-a, $value-a in $map {
            $key-a: #{remove($key-a, $var-scrjk-value-index-key)};
            .txt-#{$key-media}-ff-#{$key-a}{
                font-family: var(#{$var-scrjk-txt-var}font-family-#{$key-a}) #{$var-scrjk-txt-important};
            }
        }
    }
}
