@function getMap($map: (), $types:()){
    @if $map != $var-scrjk-txt-null{
        $aux: 1;
        $key: $map;
        @each $type in $types{
            @if $aux != -1{
                @if map-has-key($key, $type) {
                    $key: map-get($key, $type);
                    $aux: $aux + 1;
                }@else{
                    $aux: -1;
                }
            }
        }
        @if $aux != -1{
            @return $key;
        }@else{
            @error "Unknown `#{$types}` in `#{$map}`.";
        }
    }@else{
        @error "The map cannot be null.";
    }
    @return null;
}