$var-scrjk-txt-null: "n/a";

$var-scrjk-txt-var: "--scrjk-";

$var-scrjk-txt-mode-light: "light";
$var-scrjk-txt-mode-darken: "darken";

$var-scrjk-txt-character-1: "-";
$var-scrjk-txt-character-2: "__";
$var-scrjk-txt-character-3: ",";