$var-scrjk-value-media: getMap($var-scrjk-json-entry-scrjk, (dimension, screen));

$var-scrjk-value-true: true;
$var-scrjk-value-false: false;

$var-scrjk-value-key: "";
$var-scrjk-value-index-key: 2;