$map: getMap($var-scrjk-json-entry-layout, (shadow, all, box, option, outside));
@each $key-a, $value-a in $map {
    .shadow-box-#{remove($key-a, $var-scrjk-value-index-key)}{
        box-shadow: #{$value-a} #{$var-scrjk-txt-important};
    }
}

@each $key-media, $value-media in $var-scrjk-value-media{
    @media screen and (#{$var-scrjk-txt-media}: #{nth($value-media, 1)}) {
        @each $key-a, $value-a in $map {
            .shadow-#{$key-media}-box-#{remove($key-a, $var-scrjk-value-index-key)}{
                box-shadow: #{$value-a} #{$var-scrjk-txt-important};
            }
        }
    }
}